</main>
<footer>
  <% if (!['config', 'register', 'login', 'profile'].includes(locals.name)){ -%>
  <div id="userinfo">
  <% if(!locals.user){ -%>
    <p><a href="/auth/login" id="login">登录</a> | <a href="/auth/register" id="register">注册</a></p>
  <% }else{ -%>
    <p>
      <a title="个人资料" href="/profile"><%= user.username %></a>
    </p>
  <% } -%>
  </div>
  <% } -%>
  <p>&copy; <%= new Date().getFullYear() -%> <a href="https://github.com/imlinhanchao/text-game" target="_blank">Text Game</a>. All rights reserved.</p>
</footer>
<script>
  initDarkMode();
</script>
</html>