<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title ? locals.title + ' | ' + locals.config.name : locals.logo -%></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/assets/main.js"></script>
</head>
<header>
  <link rel="stylesheet" href="/assets/style.css">
  <h1>
    <a href="/"><%= locals.logo -%></a>
  </h1>
</header>
<main class="relative">