<%- include('header') %>

<article>
  <section>
    <ol class="list-decimal">
      <% stories.forEach(function(story) { %>
        <li>
          <a href="/<%=story.id-%>"><%= story.name %></a>
        </li>
      <% }); %>
    </ol>
  </section>
</article>
<%- include('footer') %>