<%- include('header') %>

<article>
  <section>
    <ol class="list-decimal">
      <% stories.forEach(function(story) { %>
        <li>
          <a href="/<%=story.id-%>"><%= story.name %></a>
        </li>
      <% }); %>
    </ol>
    <% if (stories.length === 0) { %>
      <p>还没有故事.</p>
    <% } %>
  </section>
</article>
<%- include('footer') %>